<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>海云健康管理服务平台</title>
<link rel="shortcut icon" href="htdocs/img/my120.ico" />
<link rel="stylesheet" type="text/css" href="htdocs/css/card-login.css" />
<!--[if IE 6]>
<script src="script/DD_belatedPNG_0.0.8a.js"></script>
<script>DD_belatedPNG.fix('*');</script>
<script></script>
<![endif]-->
</head>

<body>
<div class="wraper">
    <div class="header">
      <div class="header_content">
         <div class="logo">
           <a href="javascript:;"><img src="htdocs/img/space.gif" alt="海云健康管理服务平台" title="海云健康管理服务平台" /></a>
         </div>
         <div class="tel">
            <img src="htdocs/img/space.gif" alt="客服电话：400-0522-120" title="客服电话：400-0522-120" />
          </div>
      </div>
       </div>
    <div class="content">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr><td>
<div class="loginBox">
            <h2>海云健康卡管理中心</h2>
            <div class="login_top"></div>
            <div class="login">
                <form action="login.html" method="post">
                    <div class="loginModel">
                        <div class="warn"><strong>提示信息：</strong>您输入的用户名或密码错误!</div>
                        <p><label>用户名：</label><input type="text" maxlength="35" id="userName" name="userName" /></p>
                        <p><label>密&nbsp;&nbsp;&nbsp;码：</label><input type="password" maxlength="35" id="password" name="password" /></p>
                        <p class="btninc">
                        <input type="submit" class="sub" title="登陆" name="login" value="登陆" />
                        </p>
                    </div>
                </form>
            </div>
            <div class="login_bottom"></div>
        </div>
</td></tr>
</table>
    </div>
    <div class="footer" id="footer">辽卫网审字[2011]第64号　ICP备11000780号 增值电信业务经营许可证辽B-2-4-20110182</div>
    </div>
</body>
</html>
